/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


html {
    max-height: none;
    position: relative;
}

/*General styling*/
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Raleway", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    width: 60%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    box-sizing: border-box;
    padding: 30px;   
}

img {
    width: 60%;
    height: 60%;
  }

  #question {
    margin: 20px;
  }

#answer-box {
    margin: 20px;
    padding: 5px;
}

.scores {
    display: inline-block;
    padding: 25px;
}

.reset-btn {
    padding: 5px; 
}

